#add-invoice-position-button {
    border: dashed;
    border-width: 1px;
    border-color: black;
}

    #add-invoice-position-button:hover {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }

        #add-invoice-position-button:hover td {
            background-color: #F5F5F5;
        }
